#caixa {
    width: 300px;
    height: 300px;
    /*background: url(../img/camera.png);*/
    /*background: linear-gradient(60deg, red, green, yellow, blue);*/
    background: radial-gradient(red, green, yellow, blue);
}

#caixa h1 {
    /*background: rgba(255, 255 , 255, 0.5);*/
}